# Default wordpress folders.
/wp-content/uploads/*
/wp-includes/*
/wp-admin/*

# Default wordpress files.
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-load.php
wp-links-opml.php
wp-login.php
wp-settings.php
wp-mail.php
wp-trackback.php
wp-signup.php
xmlrpc.php